{% extends "base.html" %}
{% block title %}Game List{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Game List</h1>

    <!-- Форма фильтрации и поиска -->
       <form method="get" class="row mb-4">
        <div class="col-md-4">
            {{ form.search.label_tag }}
            {{ form.search }}
        </div>
        <div class="col-md-4">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <div class="col-md-4">
            {{ form.sort_by.label_tag }}
            {{ form.sort_by }}
        </div>
        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-primary">Применить</button>
            <a href="{% url 'game_list' %}" class="btn btn-secondary">Сбросить</a>
        </div>
    </form>

    <!-- Список игр -->
    <div class="row">
        {% for game in games %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ game.title }}</h5>
                    {% if game in user.favorites.values_list('game', flat=True) %}
                    <form method="post" action="{% url 'remove_from_favorites' game.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Удалить из избранного</button>
                    </form>
                     {% else %}
                    <form method="post" action="{% url 'add_to_favorites' game.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Добавить в избранное</button>
                    </form>
                     {% endif %}
                    <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.title }}" style="  width: 100%;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 5px;"
                    >
                    <p class="card-text">
                        <strong>
                            Цена:
                        </strong> ${{ game.price }}<br>
                        {{ game.description|truncatechars:100 }}
                    </p>
                    <form method="post" action="{% url 'add_to_cart' game.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success w-100">
                            +
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">Игры не найдены :(</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}