{% extends 'base.html' %}
{% block content %}
<h1 class="text-center my-4">Статистика магазина</h1>
<div class="container mt-5">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Статистика</h5>
            <p class="card-text">Общее количество пользователей: <strong>{{ user_count }}</strong></p>
            <p class="card-text">Общая прибыль: <strong>{{ total_profit }} ₽</strong></p>
            <p class="card-text">Чистая прибыль: <strong>{{ balance_profit }} ₽</strong></p>
        </div>
    </div>
</div>
{% endblock %}