{% extends "base.html" %}
{% block title %}My Account{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Добро пожаловать, {{ user.first_name }}!</h2>
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="Avatar" class="img-thumbnail rounded-circle mb-3" style="width: 150px; height: 150px;">
    {% else %}
        <img src="/media/avatars/default.png" alt="Default Avatar" class="img-thumbnail rounded-circle mb-3" style="width: 150px; height: 150px;">
    {% endif %}
    <p>Никнейм: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Дата регистрации: {{ user.date_joined|date:"d M Y" }}</p>
    <h3>Ваши избранные игры:</h3>
    {% if favorite_games %}
        <ul class="list-group">
            {% for favorite in favorite_games %}
                <li class="list-group-item">
                    <h4>{{ favorite.game.title }}</h4>
                    <p>Дата добавления: {{ favorite.added_at }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас нет избранных игр.</p>
    {% endif %}
    <h3 class="mt-4">
        Ваши заказы
    </h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID Заказа</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Цена</th>
                <th>Детали</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            {% load cart_tags %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.created_at|date:"d M Y H:i" }}</td>
                <td>{{ order.get_status_display }}</td>
                <td>₽{{ order.items.all|summa:"price" }}</td>
                <td><a href="{% url 'order_detail' order.id %}" class="btn btn-secondary btn-sm">Просмотреть</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Вы не имеете заказов</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center mt-4">
        <a href="{% url 'profile_edit' %}" class="btn btn-light">
            Изменить профиль
        </a>
        <a href="{% url 'reset_password' %}" class="btn btn-danger">
        Сменить пароль
        </a>
    </div>
</div>
{% endblock %}