{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Редактирование профиля</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark w-100 mt-3">Сохранить изменения</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}